{% extends 'home/base.html' %}
{% load static %}
{% block extralink %}
<link href="{% static 'gallery.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <a href="{% url 'add-gallery' %}" class="btn btn-success">Add MCFC Photo</a>
    <br>
    <br>
    <div class="row">
    {% for image in object_list %}
    <div class="col-4">
        <img src="{{image.image.url}}" alt="Team" height=200px width=250px/>
        <h4>{{image.name}}</h4>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}
