
{% extends "home/base.html" %}
{% load static%}
{% block extralink %}
    <link href = "{% static 'member.css'%}" rel='stylesheet'/>
{% endblock %}
{% block content %}
<div class="container">
    <form method="GET" action="{% url 'member' %}">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search this blog">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
    </form>
       <br><br>
        <a href="{% url 'addmember' %}" class="btn btn-success">Add Member</a><br>
        <br>
          <div class="row">
          {% if messages %}
            {% for message in messages %}
                  {{message}}
            {% endfor %}
            {% endif %}
        {% for member in members%}
        <div class="col-3">
            <div>
              <img src="{{member.image.url}}" alt="Team" height=200px width=250px/>
            </div>
            <div class="small-8 medium-12 cell align-self-top">
              <span class="name" class="btn btn-danger">{{member.full_name}}</span><br>

              <a class="email-link" href="#"
                ><i class="fa fa-envelope-o" aria-hidden="true"></i>
                {{member.email}}</a>
              <a href="{% url 'updatemember' member.pk %}" class="btn btn-success">Edit</a>
              <a href="{% url 'inactive' member.pk%}" class="btn btn-success">Inactive</a>
            </div>
        </div>
      {% endfor %}
      </div>
  

{% if is_paginated %}
    <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}

    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>
{% endblock %}