
{% extends "home/base.html" %}
{% load static%}
{% block extralink %}
    <link href = "{% static 'member.css'%}" rel='stylesheet'/>
{% endblock %}
{% block content %}
<div class="container">
    <form method="GET" action="{% url 'member' %}" class="form-inline">
              <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="name">
                <button class="btn btn-success" type="submit">Search</button>
              </div>
              
    </form>
       <br><br>
        <a href="{% url 'addmember' %}" class="btn btn-success">Add Member</a><br>
        <br>
       
        <div class="row">
        {% for member in members%}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="hovereffect">
              <img class="img-responsive" src="{{member.image.url}}" alt="">
                  <div class="overlay">
                      <h2>{{member.full_name}}</h2>
              <p>
                <a href="#" style="color:black;">{{member.email}}</a>
              </p>
                  </div>
          </div>
      </div>
      {% endfor %}
    </div>
  

{% if is_paginated %}
    <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}

    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>
{% endblock %}